# ROS2/colcon build artifacts.
build/
install/
log/
logs/
.ament_version
colcon.meta

# Python.
__pycache__/
*.pyc

# IDE.
.vscode/
.idea/

# Project-specific.
/lib/
*.pt
sys/sys.log
sys/ros.out

# Miscellaneous.
*.DS_Store
*.swp
*.swo
*.bak
*.tmp
*~
.#*
